<div class="card">
  <img src="https://user-images.githubusercontent.com/85568177/175321889-0886bc7f-7c92-42f3-bcea-d6ff98bd5724.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Add new Contact </h3>
    <br>
    <p class="card-text">Add new contact here..</p>

    <br>
<%= render "form", phonebook: @phonebook %>
<br>


<div>
  <%= link_to "Back to phonebooks", phonebooks_path , class: "btn btn-dark"%>
</div>

</div>
</div>

