<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
</head>
<body>


<div class="banner">
    <div>
        <img src="https://user-images.githubusercontent.com/85568177/175321889-0886bc7f-7c92-42f3-bcea-d6ff98bd5724.jpeg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="1500" height="300">
    </div>  
</div>

<!-- 

About Section 

-->
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
    <img src="https://user-images.githubusercontent.com/85568177/175519479-9e72a417-4a9c-491b-b5ea-793e50ce633e.jpeg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About PhoneBook 📱 </h1><br>
        <h5 class="w3-center">Your one and only Social Stop! </h5>
        <p class="w3-large">PhoneBook is a webapp built with Ruby and Rails  which demonstrates the simplicity of CRUD(Create, Read, Update and Delete) operations which can be performed with the framework. 
        <p class="w3-large w3-text-grey w3-hide-medium"> With PhoneBook you can easily save your contacts details- instagram, twitter, phone number , email address, IRC handle , discord username .</p>
        </div>
</div>

<hr>

<!-- 

Features 

-->

<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Features. </h1><br>
        <h3>Add Users</h3>
        <p class="w3-text-grey">Add new users in an instant and which will then remain in your PhoneBook forever.</p><br>
    
        <h3>Edit Profile</h3>
        <p class="w3-text-grey">Option to edit your own profile.</p><br>
    
        <h3>Organized Dashboard</h3>
        <p class="w3-text-grey">PhoneBook provides a clean dashboard where all your contacts are stored.</p><br>
    
        <h3>Card View</h3>
        <p class="w3-text-grey">You have a card view option to see your contact where you can edit your details.</p><br>
    </div>
    
    <div class="w3-col l6 w3-padding-large">
        <img src="https://user-images.githubusercontent.com/85568177/175507865-98dd100d-8667-4d65-98ff-88f8c5cff391.jpeg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
</div>

<hr>


<!-- 

Content

-->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

    <div class="w3-panel">
        <h1><b>PhoneBook 📱</b></h1>
        <p>Your one stop solution to save all your contacts socials!</p>
    </div>

<!--


What it Offers

-->
    <div class="w3-row w3-container">
        <div class="w3-center w3-padding-64">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What it Offers</span>
        </div>
    <div class="w3-col l3 m6 w3-light-blue w3-container w3-padding-16">
        <h3>Privacy</h3>
        <p>No user can view your contacts information. The platform is unbreachable.</p>
    </div>

    <div class="w3-col l3 m6 w3-green w3-container w3-padding-16">
        <h3>Accesibilty</h3>
        <p>Store all your contacts socials at one place and get instant access to them.</p>
    </div>

    <div class="w3-col l3 m6 w3-light-blue w3-container w3-padding-16">
        <h3>Storage</h3>
        <p>Say no more to large memory apps in the age of hyperlinks. Use PhoneBook</p>
    </div>

    <div class="w3-col l3 m6 w3-green w3-container w3-padding-16">
        <h3>Friendly UI</h3>
        <p>Soothing dashboard of the website makes it very user friendly. PhoneBook 📱</p>
    </div>
</div>

<!-- 

Developed by

-->

<div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Developed by</span>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
            <div class="w3-container">
            </div>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
            <img src="https://user-images.githubusercontent.com/85568177/175510836-2e39f3d3-64be-463a-b579-4ff176f1db51.jpeg" alt="Mike" style="width:100%">
            <div class="w3-container">
                <h3>Vaibhav Upreti</h3>
                <p class="w3-opacity">Programmer | Developer </p>
                <p>Vaibhav is a  Goal oriented, focused computer science engineering student with specialisation in AI and ML, with an eye for detail. Always keen to explore new technologies and work on different frameworks. </p>
                <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
            <div class="w3-container">
            </div>
        </div>
    </div>

</div>

<!-- 


Contact

-->


<div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact 👇</span>
    </div>

</div>


<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <a href="#" class="w3-button w3-green w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Scroll to top</a>
    <h4>Socials</h4>
    <div class="w3-xlarge w3-section">
    <a class="fa fa-twitter w3-hover-opacity" href = "https://twitter.com/vaibhav__upreti"></a>
    <a class="fa fa-linkedin w3-hover-opacity" href = "https://www.linkedin.com/in/vaibhav-upreti-739b0421a/"></a>
    </div>
</footer>

</body>
</html>
